[submodule "quizService"]
	path = quizService
	url = https://github.com/pandiaaman/quizService.git
[submodule "questionService"]
	path = questionService
	url = https://github.com/pandiaaman/questionService.git
[submodule "quizServiceRegistry"]
	path = quizServiceRegistry
	url = https://github.com/pandiaaman/quizServiceRegistry.git
